.app-navigation {
  width: 100%;

  &__item-link {
    position: relative;

    &::before {
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: rgb(209, 148, 34);
      content: '';
      transition: all 300ms ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__item-link.active {
    &::before {
      width: 100%;
    }
  }
}
