<div
  class="weather"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <div class="weather__search">
    <app-search (search)="onSearch($event)"></app-search>
  </div>

  <app-nav
    class="weather__nav"
    fxLayout="column"
    fxLayoutAlign="center center"
    [navItems]="weatherNav"
  ></app-nav>

  <div class="weather__content">
    <router-outlet></router-outlet>
  </div>
</div>
