<div fxLayout fxLayoutAlign="center center">
  <app-error-message
    [errorMessage]="errorMessage"
    *ngIf="errorMessage"
  ></app-error-message>

  <app-loading-spinner *ngIf="isLoaded"> </app-loading-spinner>

  <mat-card *ngIf="currentWeather" class="weather">
    <mat-card-header fxLayout="column">
      <mat-card-title class="weather__city">
        {{ currentWeather.name }}
      </mat-card-title>
      <mat-card-subtitle class="weather__country">
        {{ currentWeather.sys?.country }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="30px">
        <div fxLayout fxLayoutAlign="flex-start center">
          <div fxLayout="column">
            <div class="weather__temp">
              <p>{{ currentWeather.main?.temp }} °C</p>
            </div>

            <div class="weather__value" fxFlexOffset="10px">
              <p>{{ currentWeather.weather[0].main }}</p>
            </div>
          </div>

          <div class="weather__value">
            <img alt="Weather icon" [src]="iconUrl" />
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="30px">
          <div fxLayout fxLayoutAlign="flex-start center">
            <div class="weather__desc">
              Wind
            </div>

            <div class="weather__value">
              {{ currentWeather.wind?.speed }} m/s
            </div>
          </div>

          <div fxLayout fxLayoutAlign="flex-start center">
            <div class="weather__desc">
              Pressure
            </div>

            <div class="weather__value">
              {{ currentWeather.main?.pressure }} hPa
            </div>
          </div>

          <div fxLayout fxLayoutAlign="flex-start center">
            <div class="weather__desc">
              Humidity
            </div>

            <div class="weather__value">
              {{ currentWeather.main?.humidity }} %
            </div>
          </div>

          <div fxLayout fxLayoutAlign="flex-start center">
            <div class="weather__desc">
              Visibility
            </div>

            <div class="weather__value">{{ currentWeather.visibility }} m</div>
          </div>

          <div fxLayout fxLayoutAlign="flex-start center">
            <div class="weather__desc">
              Cloudiness
            </div>

            <div class="weather__value">{{ currentWeather.clouds?.all }} %</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
