$header-h: 100px;
$footer-h: 90px;
$offset-y: 100px;

.wrapper {
  min-width: 700px;
  height: auto;
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}

.header {
  width: 100%;
  height: $header-h;
  background-color: rgb(66, 66, 66);
  color: rgb(255, 255, 255);
}

.content {
  width: 70%;
  min-height: calc(100vh - #{$header-h} - #{$footer-h} - 40px);
  padding: 20px;
  background-color: rgb(245, 245, 245);
}

.footer {
  width: 100%;
  height: $footer-h;
}
