<div class="wrapper" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
