.weather-review {
  width: 100%;
}

.forecast {
  width: 100%;

  &__location {
    padding-bottom: 15px;
    font-size: 150%;
  }

  &__card {
    width: 100%;
    padding: 7px;
    border-bottom: solid rgb(189, 189, 189) 0.5px;
  }

  &__date {
    font-weight: 500;
  }

  &__conditions {
    width: 70%;
  }
}
