<div class="weather-card" fxLayout fxLayoutAlign="center center">
  <app-loading-spinner *ngIf="isLoaded"> </app-loading-spinner>

  <div
    class="weather-review"
    *ngIf="!isLoaded"
    fxLayout
    fxLayoutAlign="center center"
  >
    <app-error-message
      [errorMessage]="errorMessage"
      *ngIf="errorMessage"
    ></app-error-message>

    <div
      *ngIf="cityForecasts"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="forecast"
    >
      <div class="forecast__location" fxLayout fxLayoutGap="5px">
        <div>{{ name }},</div>

        <div>
          {{ code }}
        </div>
      </div>

      <div
        *ngFor="let cityForecast of cityForecasts; let i = index"
        fxLayout="column"
        fxLayoutAlign="flex-start center"
        fxLayoutGap="5px"
        class="forecast__card"
      >
        <div
          *ngIf="cityForecast.forecastHour === 0 || i === 0"
          class="forecast__date"
        >
          {{ cityForecast.dt_txt | date: 'longDate' }}
        </div>

        <div
          fxLayout
          fxLayoutAlign="space-between center"
          class="forecast__conditions"
        >
          <div>
            {{ cityForecast.dt_txt | date: 'HH.mm' }}
          </div>

          <div>
            <img [src]="cityForecast.weather.iconUrl" />
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="5px"
            style="width: 40%;"
          >
            <div fxLayout fxLayoutGap="5px">
              <div>{{ cityForecast.weather.temp }} °C,</div>

              <div>{{ cityForecast.weather.pressure }} hPa</div>
            </div>

            <div>
              {{ cityForecast.weather.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
