<mat-card>
  <div class="search-form" fxLayout fxLayoutAlign="space-around center">
    <mat-form-field class="search-form__input">
      <input
        matInput
        [placeholder]="searchPlaceholder"
        [formControl]="fc"
        (keydown.enter)="onSearch()"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="onSearch()"
      [disabled]="!fc.value"
      class="search-form__button"
      fxFlexOffset="20px"
    >
      Search
    </button>
  </div>
</mat-card>
